---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [11]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df[14]

'5/24/1990 CPT Code: 90792: With medical services\n'

In [84]:
def date_sorter():
    
    regex1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'  #04/20/2009; 04/20/09; 4/20/09; 4/3/09
    regex2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})' #Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
    regex3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})' #20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
    regex4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})' #Feb 2009; Sep 2009; Oct 2010;  
    regex5 = '(\d{1,2}[/-][1|2]\d{3})'  #6/2008; 12/2009
    regex6 = '([1|2]\d{3})'        #2009; 2010
    regex_7 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[+\s]*[\S]*[+\s]\d{4})' #Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
    full_regex = '(%s|%s|%s|%s|%s|%s|%s)' %(regex_1, regex_2, regex_3, regex_4, regex_5, regex_6, regex_7)
    parsed_date = df.str.extract(full_regex)
#     print(parsed_date)
    parsed_date = parsed_date.iloc[:,0].str.replace('Janaury', 'January').str.replace('Decemeber', 'December')
    parsed_date = pd.Series(pd.to_datetime(parsed_date))
    parsed_date = parsed_date.sort_values(ascending=True).index
    return pd.Series(parsed_date.values)
date_sorter()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:11: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  # This is added back by InteractiveShellApp.init_path()

0        9
1       84
2        2
3       53
4       28
5      474
6      153
7       13
8      129
9       98
10     111
11     225
12      31
13     171
14     191
15     486
16     335
17     415
18      36
19     405
20     323
21     422
22     375
23     380
24     345
25      57
26     481
27     436
28     104
29     299
      ...
470    220
471    208
472    243
473    139
474    320
475    383
476    244
477    286
478    480
479    431
480    279
481    198
482    381
483    463
484    366
485    439
486    255
487    401
488    475
489    257
490    152
491    235
492    464
493    253
494    427
495    231
496    141
497    186
498    161
499    413
Length: 500, dtype: int64

In [79]:
df1 = pd.Series(r'04/20/2009; 04/20/09; 4/20/09; 4/3/09; Mar-20-2009; Mar 20, 2009; '
                r'March 20, 2009; Mar. 20, 2009; Mar 20 2009; 20 Mar 2009; 20 March 2009; '
                r'20 Mar. 2009; 20 March, 2009; Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009'
                r'Feb 2009; Sep 2009; Oct 2010; 6/2008; 12/2009; 2009; 2010')
regex_1 = '(\d{1,2}[/-]\d{1,2}[/-]\d{2,4})'
regex_2 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{1,2}[,]{0,1}[+\s]\d{4})'
regex_3 = '(\d{1,2}[+\s](?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
regex_4 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[\S]*[+\s]\d{4})'
regex_5 = '(\d{1,2}[/-][1|2]\d{3})'
regex_6 = '([1|2]\d{3})'
regex_7 = '((?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[+\s]*[\S]*[+\s]\d{4})'
full_regex = '(%s|%s|%s|%s|%s|%s|%s)' %(regex_1, regex_2, regex_3, regex_4, regex_5, regex_6, regex_7)
# full_regex
parsed_date = df1.str.extractall(full_regex)
print(parsed_date.head(140))

                      0           1               2               3         4  \
  match
0 0          04/20/2009  04/20/2009             NaN             NaN       NaN
  1            04/20/09    04/20/09             NaN             NaN       NaN
  2             4/20/09     4/20/09             NaN             NaN       NaN
  3              4/3/09      4/3/09             NaN             NaN       NaN
  4             20-2009         NaN             NaN             NaN       NaN
  5        Mar 20, 2009         NaN    Mar 20, 2009             NaN       NaN
  6      March 20, 2009         NaN  March 20, 2009             NaN       NaN
  7       Mar. 20, 2009         NaN   Mar. 20, 2009             NaN       NaN
  8         Mar 20 2009         NaN     Mar 20 2009             NaN       NaN
  9         20 Mar 2009         NaN             NaN     20 Mar 2009       NaN
  10      20 March 2009         NaN             NaN   20 March 2009       NaN
  11       20 Mar. 2009         NaN             NaN    20 Mar. 2009       NaN
  12     20 March, 2009         NaN             NaN  20 March, 2009       NaN
  13     Mar 20th, 2009         NaN             NaN             NaN       NaN
  14     Mar 21st, 2009         NaN             NaN             NaN       NaN
  15     Mar 22nd, 2009         NaN             NaN             NaN       NaN
  16           Feb 2009         NaN             NaN             NaN  Feb 2009
  17           Sep 2009         NaN             NaN             NaN  Sep 2009
  18           Oct 2010         NaN             NaN             NaN  Oct 2010
  19             6/2008         NaN             NaN             NaN       NaN
  20            12/2009         NaN             NaN             NaN       NaN
  21               2009         NaN             NaN             NaN       NaN
  22               2010         NaN             NaN             NaN       NaN

               5     6               7
  match
0 0          NaN   NaN             NaN
  1          NaN   NaN             NaN
  2          NaN   NaN             NaN
  3          NaN   NaN             NaN
  4      20-2009   NaN             NaN
  5          NaN   NaN             NaN
  6          NaN   NaN             NaN
  7          NaN   NaN             NaN
  8          NaN   NaN             NaN
  9          NaN   NaN             NaN
  10         NaN   NaN             NaN
  11         NaN   NaN             NaN
  12         NaN   NaN             NaN
  13         NaN   NaN  Mar 20th, 2009
  14         NaN   NaN  Mar 21st, 2009
  15         NaN   NaN  Mar 22nd, 2009
  16         NaN   NaN             NaN
  17         NaN   NaN             NaN
  18         NaN   NaN             NaN
  19      6/2008   NaN             NaN
  20     12/2009   NaN             NaN
  21         NaN  2009             NaN
  22         NaN  2010             NaN