---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-social-network-analysis/resources/yPcBs) course resource._

---

# Assignment 1 - Creating and Manipulating Graphs

Eight employees at a small company were asked to choose 3 movies that they would most enjoy watching for the upcoming company movie night. These choices are stored in the file `Employee_Movie_Choices.txt`.

A second file, `Employee_Relationships.txt`, has data on the relationships between different coworkers. 

The relationship score has value of `-100` (Enemies) to `+100` (Best Friends). A value of zero means the two employees haven't interacted or are indifferent.

Both files are tab delimited.

In [1]:
import networkx as nx
import pandas as pd
import numpy as np
from networkx.algorithms import bipartite


# This is the set of employees
employees = set(['Pablo',
                 'Lee',
                 'Georgia',
                 'Vincent',
                 'Andy',
                 'Frida',
                 'Joan',
                 'Claude'])

# This is the set of movies
movies = set(['The Shawshank Redemption',
              'Forrest Gump',
              'The Matrix',
              'Anaconda',
              'The Social Network',
              'The Godfather',
              'Monty Python and the Holy Grail',
              'Snakes on a Plane',
              'Kung Fu Panda',
              'The Dark Knight',
              'Mean Girls'])


# you can use the following function to plot graphs
# make sure to comment it out before submitting to the autograder
def plot_graph(G, weight_name=None):
    '''
    G: a networkx G
    weight_name: name of the attribute for plotting edge weights (if G is weighted)
    '''
    %matplotlib notebook
    import matplotlib.pyplot as plt
    
    plt.figure()
    pos = nx.spring_layout(G)
    edges = G.edges()
    weights = None
    
    if weight_name:
        weights = [int(G[u][v][weight_name]) for u,v in edges]
        labels = nx.get_edge_attributes(G,weight_name)
        nx.draw_networkx_edge_labels(G,pos,edge_labels=labels)
        nx.draw_networkx(G, pos, edges=edges, width=weights);
    else:
        nx.draw_networkx(G, pos, edges=edges);

### Question 1

Using NetworkX, load in the bipartite graph from `Employee_Movie_Choices.txt` and return that graph.

*This function should return a networkx graph with 19 nodes and 24 edges*

In [69]:
!cat Employee_Movie_Choices.txt

#Employee	Movie
Andy	Anaconda
Andy	Mean Girls
Andy	The Matrix
Claude	Anaconda
Claude	Monty Python and the Holy Grail
Claude	Snakes on a Plane
Frida	The Matrix
Frida	The Shawshank Redemption
Frida	The Social Network
Georgia	Anaconda
Georgia	Monty Python and the Holy Grail
Georgia	Snakes on a Plane
Joan	Forrest Gump
Joan	Kung Fu Panda
Joan	Mean Girls
Lee	Forrest Gump
Lee	Kung Fu Panda
Lee	Mean Girls
Pablo	The Dark Knight
Pablo	The Matrix
Pablo	The Shawshank Redemption
Vincent	The Godfather
Vincent	The Shawshank Redemption
Vincent	The Social Network

In [82]:
def answer_one():
        
#     %matplotlib notebook
    G = nx.read_adjlist('Employee_Movie_Choices.txt', delimiter='\t')
    return G
answer_one().number_of_nodes(),answer_one().number_of_edges(), answer_one().edges()

(19,
 24,
 [('Andy', 'Anaconda'),
  ('Andy', 'Mean Girls'),
  ('Andy', 'The Matrix'),
  ('Anaconda', 'Claude'),
  ('Anaconda', 'Georgia'),
  ('Mean Girls', 'Joan'),
  ('Mean Girls', 'Lee'),
  ('The Matrix', 'Frida'),
  ('The Matrix', 'Pablo'),
  ('Claude', 'Monty Python and the Holy Grail'),
  ('Claude', 'Snakes on a Plane'),
  ('Monty Python and the Holy Grail', 'Georgia'),
  ('Snakes on a Plane', 'Georgia'),
  ('Frida', 'The Shawshank Redemption'),
  ('Frida', 'The Social Network'),
  ('The Shawshank Redemption', 'Pablo'),
  ('The Shawshank Redemption', 'Vincent'),
  ('The Social Network', 'Vincent'),
  ('Joan', 'Forrest Gump'),
  ('Joan', 'Kung Fu Panda'),
  ('Forrest Gump', 'Lee'),
  ('Kung Fu Panda', 'Lee'),
  ('Pablo', 'The Dark Knight'),
  ('Vincent', 'The Godfather')])

### Question 2

Using the graph from the previous question, add nodes attributes named `'type'` where movies have the value `'movie'` and employees have the value `'employee'` and return that graph.

*This function should return a networkx graph with node attributes `{'type': 'movie'}` or `{'type': 'employee'}`*

In [81]:
def answer_two():
    
    G = nx.read_adjlist('Employee_Movie_Choices.txt', delimiter='\t')
    [a,b] = map(list,zip(*G.edges()))
    for i in a:
        G.add_node(i, type = 'employee')
    for i in b:
        G.add_node(i, type = 'movie')
    G.nodes(data=True)
    
    return G
answer_two().nodes(data = True)

[('Andy', {'type': 'employee'}),
 ('Anaconda', {'type': 'movie'}),
 ('Mean Girls', {'type': 'movie'}),
 ('The Matrix', {'type': 'movie'}),
 ('Claude', {'type': 'movie'}),
 ('Monty Python and the Holy Grail', {'type': 'movie'}),
 ('Snakes on a Plane', {'type': 'movie'}),
 ('Frida', {'type': 'movie'}),
 ('The Shawshank Redemption', {'type': 'movie'}),
 ('The Social Network', {'type': 'movie'}),
 ('Georgia', {'type': 'movie'}),
 ('Joan', {'type': 'movie'}),
 ('Forrest Gump', {'type': 'movie'}),
 ('Kung Fu Panda', {'type': 'movie'}),
 ('Lee', {'type': 'movie'}),
 ('Pablo', {'type': 'movie'}),
 ('The Dark Knight', {'type': 'movie'}),
 ('Vincent', {'type': 'movie'}),
 ('The Godfather', {'type': 'movie'})]

### Question 3

Find a weighted projection of the graph from `answer_two` which tells us how many movies different pairs of employees have in common.

*This function should return a weighted projected graph.*

In [89]:
def answer_three():
        
    G = answer_two()
    P = bipartite.weighted_projected_graph(G, employees)
    
    return P
P.edges(data = True)

[('Claude', 'Andy', {'weight': 1}),
 ('Claude', 'Georgia', {'weight': 3}),
 ('Pablo', 'Andy', {'weight': 1}),
 ('Pablo', 'Frida', {'weight': 2}),
 ('Pablo', 'Vincent', {'weight': 1}),
 ('Andy', 'Joan', {'weight': 1}),
 ('Andy', 'Lee', {'weight': 1}),
 ('Andy', 'Georgia', {'weight': 1}),
 ('Andy', 'Frida', {'weight': 1}),
 ('Lee', 'Joan', {'weight': 3}),
 ('Frida', 'Vincent', {'weight': 2})]

### Question 4

Suppose you'd like to find out if people that have a high relationship score also like the same types of movies.

Find the Pearson correlation ( using `DataFrame.corr()` ) between employee relationship scores and the number of movies they have in common. If two employees have no movies in common it should be treated as a 0, not a missing value, and should be included in the correlation calculation.

*This function should return a float.*

In [100]:
def answer_four():

    G4 = pd.DataFrame(answer_three().edges(data=True), columns=['Emp1', 'Emp2', 'movies_in_common'])
    G4['movies_in_common'] = G4['movies_in_common'].map(lambda x: x['weight'])
    G4_duplicate = G4.copy()
    G4_duplicate.rename(columns={'Emp1': 'Emp2', 'Emp2': 'Emp1'}, inplace=True)
    G4_common_movies = pd.concat([G4, G4_duplicate], ignore_index=True)
    
    G4_employee_rel = pd.read_csv('Employee_Relationships.txt', sep='\t', 
                   header=None, names=['Emp1', 'Emp2', 'Relationship'])
    
    G4_merged = pd.merge(G4_employee_rel, G4_common_movies, how='left')
    G4_merged['movies_in_common'].fillna(value=0, inplace=True)
    correlation_score = G4_merged['movies_in_common'].corr(G4_merged['Relationship'])
    
    return correlation_score,G4_merged
answer_four()

(0.78839622217334737,        Emp1     Emp2  Relationship  movies_in_common
 0      Andy   Claude             0               1.0
 1      Andy    Frida            20               1.0
 2      Andy  Georgia           -10               1.0
 3      Andy     Joan            30               1.0
 4      Andy      Lee           -10               1.0
 5      Andy    Pablo           -10               1.0
 6      Andy  Vincent            20               0.0
 7    Claude    Frida             0               0.0
 8    Claude  Georgia            90               3.0
 9    Claude     Joan             0               0.0
 10   Claude      Lee             0               0.0
 11   Claude    Pablo            10               0.0
 12   Claude  Vincent             0               0.0
 13    Frida  Georgia             0               0.0
 14    Frida     Joan             0               0.0
 15    Frida      Lee             0               0.0
 16    Frida    Pablo            50               2.0
 17    Frida  Vincent            60               2.0
 18  Georgia     Joan             0               0.0
 19  Georgia      Lee            10               0.0
 20  Georgia    Pablo             0               0.0
 21  Georgia  Vincent             0               0.0
 22     Joan      Lee            70               3.0
 23     Joan    Pablo             0               0.0
 24     Joan  Vincent            10               0.0
 25      Lee    Pablo             0               0.0
 26      Lee  Vincent             0               0.0
 27    Pablo  Vincent           -20               1.0)

In [90]:
!cat Employee_Relationships.txt

Andy	Claude	0
Andy	Frida	20
Andy	Georgia	-10
Andy	Joan	30
Andy	Lee	-10
Andy	Pablo	-10
Andy	Vincent	20
Claude	Frida	0
Claude	Georgia	90
Claude	Joan	0
Claude	Lee	0
Claude	Pablo	10
Claude	Vincent	0
Frida	Georgia	0
Frida	Joan	0
Frida	Lee	0
Frida	Pablo	50
Frida	Vincent	60
Georgia	Joan	0
Georgia	Lee	10
Georgia	Pablo	0
Georgia	Vincent	0
Joan	Lee	70
Joan	Pablo	0
Joan	Vincent	10
Lee	Pablo	0
Lee	Vincent	0
Pablo	Vincent	-20